.box {
	height:30px;
	width:30px;
	border:1px solid black;
	border-radius:30px;
	background-color: white;
	float:right;
	margin:5px;
	text-align: center;
	background: radial-gradient(circle, white 15%, transparent 50%), #cc5;
  background: -moz-radial-gradient(circle, white 15%, transparent 50%);

}

.name {
	animation:color-change 1s infinite;
	font-size: 29px;
	text-align: center;
}

@keyframes color-change { 0%{color:red;} 100%{color:white;} }